<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
    <ion-title>Transaction: Envoie/Retrait</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content padding class="backForm">
  <div class="flex">
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-button expand="block" color="primary" shape="round" type="submit" (click)="buttonEnvoie()" >
                <ion-icon slot="start" name="send"></ion-icon>
                Envoie
              </ion-button>
        </ion-col>
        <ion-col>
            <ion-button expand="block" color="success" shape="round" type="submit" (click)="buttonRetrait()" >
                <ion-icon slot="start" name="checkmark-circle"></ion-icon>
                Retrait
              </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    </div>

    <div class="formulaire general">

      <form form [formGroup]="f" >
  <div class="Envoi" *ngIf="!but">
      <h1 style="text-decoration: underline;text-align:center; color:blue;">Envoyeur</h1>
      <ion-item>
        <ion-label position="floating">Prenom</ion-label>
        <ion-input  type="text" formControlName="prenomEnvoyeur"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nom </ion-label>
        <ion-input  type="text" formControlName="nomEnvoyeur"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telephone</ion-label>
        <ion-input  type="number" formControlName="telEnvoyeur"></ion-input>
      </ion-item>
      
        <h1 style="text-decoration: underline; text-align:center; color:blue;">Bénéficiaire</h1>
  
      <ion-item>
        <ion-label position="floating">Prenom </ion-label>
        <ion-input  type="text" formControlName="prenom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nom </ion-label>
        <ion-input  type="text" formControlName="nom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telephone </ion-label>
        <ion-input  type="number" formControlName="tel"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Montant</ion-label>
        <ion-input  type="number" formControlName="montant"  aria-placeholder="Montant"  (keyup)="frais($event)"></ion-input>
      </ion-item>
      <ion-item *ngIf="tarif">
          <div >frais{{tarif}} fcfa</div>
        </ion-item>

      <ion-button type="submit" expand="block"  color="primary" (click)="envoie()"> Envoyer</ion-button>
    </div>

    <div class="Retrait" *ngIf="but">
       
      <ion-item>
      <ion-label position="floating">Code d'envoi</ion-label>
      <ion-input  type="number" formControlName="codeEnvoie"  aria-placeholder="Code d'envoi" (keyup)="findcode($event)"></ion-input>
  </ion-item>
  <ion-item >
    <div *ngIf="inf  ">
        <!--ion-label >Montant</ion-label>
        <ion-input  type="text" formControlName="cni" aria-readonly aria-placeholder="">{{code.montant}}</ion-input>
        <ion-label position="floating">Prenom</ion-label>
        <ion-input  type="text" formControlName="cni" aria-readonly="" aria-placeholder="">{{code.retrait.prenom}}</ion-input>
        <ion-label position="floating">Nom</ion-label>
        <ion-input  type="text" formControlName="cni" aria-readonly="" aria-placeholder="">{{code.retrait.nom}}</ion-input-->
        
        <p>Montant:{{code.montant}}  </p>
      <p>Prenom:{{code.retrait.prenom}}</p>
      <p> nom:{{code.retrait.nom}}</p>
    
       </div>
     
  </ion-item>
  <ion-item>
      <ion-label position="floating">Numéro de la piéce</ion-label>
      <ion-input  type="text" formControlName="cni"  aria-placeholder="Numéro de la piéce"></ion-input>
  </ion-item>

 <ion-button type="submit"  expand="block" color="success" (click)="retrait()"> Retirer</ion-button>
</div>


    </form>


  </div>
  
  
  
  
    


    


