
<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Home
        </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
      <ion-card-header>
     
      <ion-card-title>DijaTransfert</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1>
          Welcome to Dija Transfert!!
        </h1>
      </ion-card-content>
    </ion-card>
</ion-content>
